﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bunny</title>
    @{
        await Html.RenderPartialAsync("~/Areas/Web/Views/Shared/Asset/_Style.cshtml").ConfigureAwait(true);
    }
    <!-- JS -->
    <!-- jquery js -->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <!-- bootstrap js -->
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- CSS Style -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/Assets/Style/Global.css" />

    <link rel="stylesheet" href="~/css/skins/Coin-skin.css" />

    <!-- global js -->
    <script src="~/js/Bunny.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)

   @{
           await Html.RenderPartialAsync("~/Areas/Web/Views/Shared/Asset/_BottomScript.cshtml").ConfigureAwait(true);
        await Html.RenderPartialAsync("~/Areas/Web/Views/Shared/Settings/Setup.cshtml").ConfigureAwait(true);
   }
</body>
</html>
