﻿@using Bunny.DataTable.Models.Config
@model DataTableModel

<table id="@Model.Id" class="@(Model.TableClass ?? string.Empty)">
    <thead>
    @if (Model.IsUseColumnFilter)
    {
        <tr>
            @foreach (var column in Model.Columns)
            {
                if (column.IsSearchable)
                {
                    // Case Column Search able, display place holder for the column filter
                    <th></th>
                }
                else
                {
                    <th></th>
                }
            }
        </tr>
    }
    @if (!Model.IsHideHeader)
    {
        <tr>
            @foreach (var column in Model.Columns)
            {
                <th class="@column.CssClassHeader" @Html.Raw(string.IsNullOrWhiteSpace(column.AdditionalAttributeHeader) ? string.Empty : column.AdditionalAttributeHeader)>@column.DisplayName</th>
            }
        </tr>
    }
    </thead>
    <tbody>
    <tr>
        <td colspan="@Model.Columns.Count" class="dataTables_empty">
            Loading...
        </td>
    </tr>
    </tbody>
</table>