﻿@using Bunny
@model Bunny.Model.User.UserEditModel
@section scripts{
    <script src="~/Assets/Script/Web/UserManager/Edit.js"></script>
}
<div class="body-content">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <h3>Add User</h3>
        </div>
    </div>
    <div class="row">
        <form class="form-form" id="add-user-form" asp-controller="User" asp-action="SubmitEdit" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">
            <input asp-for="Id" type="hidden" />
            <div class="form-group row">
                <div class="col-xs-12 col-md-6">

                    <label asp-for="FirstName" class="form-control-label" for="@nameof(Model.FirstName)"></label>
                    <input asp-for="FirstName" class="form-control" required="" />
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="col-xs-12 col-md-6">
                    <label asp-for="LastName" class="form-control-label" for="@nameof(Model.LastName)"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="UserName" class="form-control-label" for="@nameof(Model.UserName)"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="col-xs-12 col-md-6">
                    @*@Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @isRequired = true, value = Constants.UserManager.PasswordDefault })
                @Html.ValidationMessageFor(m => m.Password)*@

                    <label asp-for="Password" class="form-control-label" for="@nameof(Model.Password)"></label>
                    <input type="password" asp-for="Password" class="form-control" value="@Constants.UserManager.PasswordDefault" required="" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="PhoneNumber" class="form-control-label" for="@nameof(Model.PhoneNumber)"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="col-xs-12 col-md-6">
                    <label asp-for="RoleId" class="form-control-label" for="@nameof(Model.RoleId)"></label>
                    <select asp-for="@Model.RoleId" class="form-control" asp-items="@Model.ListRole" multiple></select>
                    <span asp-validation-for="RoleId"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="IsActive" class="form-control-label" for="@nameof(Model.IsActive)"></label>
                    <input asp-for="IsActive" class="form-control" />
                    <span asp-validation-for="IsActive"></span>
                </div>

            </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-12">
                        <button id="save-edit" class="btn btn-sm btn-primary btn-round waves-effect waves-classic ladda-button" type="button">
                            <span class="ladda-label">Save</span>
                        </button>
                        <a href="@Url.Action("Index", "User")" class="btn btn-sm btn-default" type="button">
                            <span class="ladda-label">Cancel</span>
                        </a>
                    </div>

                </div>
        </form>

    </div>
</div>