﻿@using Bunny.Areas.Api.Controllers
@using Bunny.Areas.Web.Controllers
@using Bunny.DataTable
@using Bunny.DataTable.Models.Config.Column
@using Bunny.Model.User
@using Bunny.Web

@{
    var model = Html.DataTableModel(Guid.NewGuid().ToString("N"), (UserApiController controller) => controller.GetDataTable(null));
    //model.BeforeSendFunctionName = "beforeSendTable";
    //model.IsUseColumnFilter = true;
    model.DrawCallbackFunctionName = "window.Bunny.dataTableDrawCallBack";
    model.ResponsiveResizeCallbackFunctionName = "window.Bunny.dataTableResponsiveCallBack";

    model.Columns.Add(new ColumnModel("Action", typeof(string))
    {
        DisplayName = "Action",
        IsSearchable = false,
        IsSortable = false,
        MRenderFunction = "actionRender",
    });

    model.GlobalJsVariableName = "oTable";

    var delete = true;
}
<div class="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title text-primary">
                    User Management
                </h3>
                
            </div>
            <div class="page-header-actions">
                <a class="btn btn-sm btn-primary btn-right waves-effect waves-classic ladda-button" data-style="slide-right" data-plugin="ladda" href="@Url.AbsoluteAction("Add", "User")">
                    <i class="icon md-plus" aria-hidden="true"></i>
                    <span class="hidden-sm-down">Add New User</span>
                </a>
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("/Areas/Web/Views/Shared/DataTable/_DataTableHtml.cshtml", model).ConfigureAwait(true)
            </div>
        </div>
    </div>


@section Scripts{
    @await Html.PartialAsync("/Areas/Web/Views/Shared/DataTable/_DataTableScript.cshtml", model).ConfigureAwait(true)
    <script type="text/javascript">
        var UserRequest = {
            Delete: {
                Url: '@Url.AbsoluteAction("Remove", "User", new {id = "PARAMETER_ID"})',
                Type: "POST",
                DataType: "json",
                ContentType: "application/json"
            },
            Edit: {
                Url: '@Url.AbsoluteAction("Edit", "User", new {id = "PARAMETER_ID"})',
                Type: "POST",
                DataType: "json",
                ContentType: "application/json"
            }
        };
        function actionRender(data, type, row) {
            var id = parseInt(row[0]);

            // Edit
            var editUrl = UserRequest.Edit.Url.replace(/PARAMETER_ID/g, id);
            var editEle = '<a href="' + editUrl + '" class="btn btn-sm btn-icon btn-pure btn-default on-default waves-effect waves-classic" data-toggle="tooltip" data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></a>';

            // Remove
            var removeEle ='<a href="javascript:;" data-plugin="confirm" data-confirm-title="ARE YOU SURE?" data-confirm-message="Are you sure that you want to delete this item?" data-confirm-yes-title="Deleted!" data-confirm-yes-message="Delete the item successfully" data-confirm-yes-callback="remove(\'' + id + '\')" data-confirm-no-title="Cancelled" data-confirm-no-message="The item is safe :)" class="btn btn-sm btn-icon btn-pure btn-default on-default waves-effect waves-classic" data-toggle="tooltip" data-original-title="Remove"><i class="icon md-delete" aria-hidden="true"></i></a>';

            return editEle + removeEle;
        }
        function remove(id) {
            $.ajax({
                url: UserRequest.Delete.Url.replace(/PARAMETER_ID/g, id),
                type: UserRequest.Delete.Type,
                dataType: UserRequest.Delete.DataType,
                success: function () {
                    oTable.api().ajax.reload();
                }
            });
        }
    </script>
}