﻿@model Bunny.Model.SettingBinance.SettingBinanceEditModel

<form class="form-form" id="edit-setting-binance-form-@Model.Id" asp-controller="SettingBinance" asp-action="SubmitEdit" method="post" enctype="multipart/form-data" asp-antiforgery="true" role="form">
    <h3 class="panel-title text-danger">Job @Model.Check</h3> <br />
    <div class="form-group row">
        <input asp-for="@Model.Id" hidden="" />
        <div class="col-xs-12 col-md-1">
            @*<div class="checkbox-custom checkbox-info">*@
            <label class="form-control-label"></label>
            <input data-val="false" class="form-control" style="height: 35px; width: 20px;" asp-for="@Model.IsCheckPrice" type="checkbox" />
            @*</div>*@
        </div>
        <div class="col-xs-12 col-md-3">
            <label asp-for="@Model.LimitPrice" class="form-control-label" for="@nameof(Model.LimitPrice)"></label>
            <input asp-for="@Model.LimitPrice" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.LimitPrice"></span>
        </div>
        <div class="col-xs-12 col-md-4">
            <label asp-for="@Model.DesirePricePercent" class="form-control-label" for="@nameof(Model.DesirePricePercent)"></label>
            <input asp-for="@Model.DesirePricePercent" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.DesirePricePercent"></span>
        </div>
        <div class="col-xs-12 col-md-4">
            <label asp-for="@Model.PriceZ" class="form-control-label" for="@nameof(Model.PriceZ)"></label>
            <input asp-for="@Model.PriceZ" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.PriceZ"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-md-1">
            <label class="form-control-label"></label>
            <input data-val="false" class="form-control" style="height: 35px; width: 20px;" asp-for="@Model.IsCheckVolume" type="checkbox" />
        </div>
        <div class="col-xs-12 col-md-3">
            <label asp-for="@Model.LimitVolume" class="form-control-label" for="@nameof(Model.LimitVolume)"></label>
            <input asp-for="@Model.LimitVolume" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.LimitVolume"></span>
        </div>
        <div class="col-xs-12 col-md-4">
            <label asp-for="@Model.DesireVolumePercent" class="form-control-label" for="@nameof(Model.DesireVolumePercent)"></label>
            <input asp-for="@Model.DesireVolumePercent" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.DesireVolumePercent"></span>
        </div>
        <div class="col-xs-12 col-md-4">
            <label asp-for="@Model.VolumeZ" class="form-control-label" for="@nameof(Model.VolumeZ)"></label>
            <input asp-for="@Model.VolumeZ" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.VolumeZ"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-md-1">
            <label class="form-control-label"></label>
            <input data-val="false" class="form-control" style="height: 35px; width: 20px;" asp-for="@Model.IsCheckMaxVolume" type="checkbox" />
        </div>
        <div class="col-xs-12 col-md-3">
            <label asp-for="@Model.LimitMaxVolume" class="form-control-label" for="@nameof(Model.LimitMaxVolume)"></label>
            <input asp-for="@Model.LimitMaxVolume" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.LimitMaxVolume"></span>
        </div>
        <div class="col-xs-12 col-md-4">
            <label asp-for="@Model.DesireMaxVolPercent" class="form-control-label" for="@nameof(Model.DesireMaxVolPercent)"></label>
            <input asp-for="@Model.DesireMaxVolPercent" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.DesireMaxVolPercent"></span>
        </div>
        <div class="col-xs-12 col-md-4">
            <label asp-for="@Model.MaxVolZ" class="form-control-label" for="@nameof(Model.MaxVolZ)"></label>
            <input asp-for="@Model.MaxVolZ" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.MaxVolZ"></span>
        </div>
    </div>
    @if (Model.Check == 1)
    {
        <div class="form-group row">

            <div class="col-xs-12 col-md-6">
                <label asp-for="@Model.TokenBotTelegram" class="form-control-label" for="@nameof(Model.TokenBotTelegram)"></label>
                <input asp-for="@Model.TokenBotTelegram" type="text" class="form-control" required="" />
                <span asp-validation-for="@Model.TokenBotTelegram"></span>
            </div>

            <div class="col-xs-12 col-md-6">
                <label asp-for="@Model.RoomIdBotTelegram" class="form-control-label" for="@nameof(Model.RoomIdBotTelegram)"></label>
                <input asp-for="@Model.RoomIdBotTelegram" type="text" class="form-control" required="" />
                <span asp-validation-for="@Model.RoomIdBotTelegram"></span>
            </div>

        </div>
    }

    <div class="form-group row">
        <div class="col-xs-12 col-md-6">
            <label asp-for="@Model.IndexMaxVolume" class="form-control-label" for="@nameof(Model.IndexMaxVolume)"></label>
            <input asp-for="@Model.IndexMaxVolume" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.IndexMaxVolume"></span>
        </div>
        <div class="col-xs-12 col-md-6">
            <label asp-for="@Model.Interval" class="form-control-label" for="@nameof(Model.Interval)"></label>
            <select asp-for="@Model.Interval" class="form-control" asp-items="@Model.ListIntervalSetting"></select>
            <span asp-validation-for="@Model.Interval"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-12 col-md-6">
            <label asp-for="@Model.SafePercentForBuy" class="form-control-label" for="@nameof(Model.SafePercentForBuy)"></label>
            <input asp-for="@Model.SafePercentForBuy" type="text" class="form-control" required="" />
            <span asp-validation-for="@Model.SafePercentForBuy"></span>
        </div>

        <div class="col-xs-12 col-md-6">
            <label asp-for="@Model.TotalColumnForBuy" class="form-control-label" for="@nameof(Model.TotalColumnForBuy)"></label>
            <input asp-for="@Model.TotalColumnForBuy" type="text" class="form-control" required="" />
            <span asp-validation-for="@Model.TotalColumnForBuy"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-12 col-md-6">
            <label asp-for="@Model.SafePercentForSell" class="form-control-label" for="@nameof(Model.SafePercentForSell)"></label>
            <input asp-for="@Model.SafePercentForSell" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.SafePercentForSell"></span>
        </div>

        <div class="col-xs-12 col-md-6">
            <label asp-for="@Model.TotalColumnForSell" class="form-control-label" for="@nameof(Model.TotalColumnForSell)"></label>
            <input asp-for="@Model.TotalColumnForSell" type="number" class="form-control" required="" />
            <span asp-validation-for="@Model.TotalColumnForSell"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-12 col-md-6">
            <label asp-for="@Model.Coin" class="form-control-label" for="@nameof(Model.Coin)"></label>
            <select style="height: 300px;" asp-for="@Model.ListCoinId" class="form-control" asp-items="@Model.ListCoin" multiple></select>
            <span asp-validation-for="@Model.SafePercentForSell"></span>
        </div>
    </div>

    <div class="form-group row">
        @*<div class="col-xs-12 col-md-12">*@
            <div class="col-xs-12 col-sm-2 col-md-1">
                <button id="save-edit" class="btn btn-sm btn-primary btn-setting waves-effect waves-classic ladda-button" type="submit">
                    <span class="ladda-label">Save</span>
                </button>
            </div>
            @if (Model.Check == 3)
            {
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <button id="start-binance" class="btn btn-sm btn-warning btn-setting waves-effect waves-classic ladda-button" type="button">
                        <span class="ladda-label">Start Binance</span>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <button id="stop-binance" class="btn btn-sm btn-danger btn-setting waves-effect waves-classic ladda-button" type="button">
                        <span class="ladda-label">Stop Binance</span>
                    </button>
                </div>
            }
        @*</div>*@
    </div>
</form>