﻿@model List<Bunny.Model.SettingBinance.SettingBinanceEditModel>
@section scripts{
    <script src="~/Assets/Script/Web/BinanceSettings/Index.js"></script>
}
@{
    var check = 0;
}
<div class="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title text-primary">Binance Setting</h3>
        </div>
        <div class="panel-body">
            @foreach (var item in Model)
            {
                check = check + 1;
                item.Check = check;
                <br/>
                await Html.RenderPartialAsync("~/Areas/Web/Views/SettingBinance/DataChild/SingleSetting.cshtml", item).ConfigureAwait(true);
            
            }

        </div>
    </div>

</div>