﻿@using Bunny.Areas.Api.Controllers
@using Bunny.DataTable
@using Bunny.DataTable.Models.Config.Column
@{
    var model = Html.DataTableModel(Guid.NewGuid().ToString("N"), (CoinApiController controller) => controller.GetDataTable(null));
    model.DrawCallbackFunctionName = "window.Bunny.dataTableDrawCallBack";
    model.ResponsiveResizeCallbackFunctionName = "window.Bunny.dataTableResponsiveCallBack";

    model.Columns.Add(new ColumnModel("Action", typeof(string))
    {
        DisplayName = "Time Disable Notification",
        IsSearchable = false,
        IsSortable = false,
        MRenderFunction = "actionRenderMinDisable",
    });

    model.Columns.Add(new ColumnModel("Action", typeof(string))
    {
        DisplayName = "Action",
        IsSearchable = false,
        IsSortable = false,
        MRenderFunction = "actionRender",
    });

    model.GlobalJsVariableName = "oTable";

    var delete = true;
}

<div class="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title text-primary">
                Coin Management
            </h3>
        </div>
        <div class="panel-body">
            @await Html.PartialAsync("/Areas/Web/Views/Shared/DataTable/_DataTableHtml.cshtml", model).ConfigureAwait(true)
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("/Areas/Web/Views/Shared/DataTable/_DataTableScript.cshtml", model).ConfigureAwait(true)
    <script type="text/javascript">
        var CoinRequest = {
            Toggle: {
                Url: '@Url.AbsoluteAction("Active", "Coin", new {id = "PARAMETER_ID"})',
                Type: "POST",
                DataType: "json",
                ContentType: "application/json"
            },
            ChangeMinDisable : {
                Url: '@Url.AbsoluteAction("ChangeMinDisableNotification", "Coin")' +'/?id=PARAMETER_ID&numberChange=PARAMETER_NUMBERCHANGE',
                Type: "POST",
                DataType: "json",
                ContentType: "application/json"
            }
        };
        function actionRender(data, type, row) {
            var id = parseInt(row[0]);

            // Edit
            //var editUrl = CoinRequest.Edit.Url.replace(/PARAMETER_ID/g, id);
            //var editEle = '<a href="' + editUrl + '" class="btn btn-sm btn-icon btn-pure btn-default on-default waves-effect waves-classic" data-toggle="tooltip" data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></a>';

            // Remove
            @*var removeEle = '@if (delete){<a href="javascript:;" data-plugin="confirm" data-confirm-title="ARE YOU SURE?" data-confirm-message="Are you sure that you want to delete this item?" data-confirm-yes-title="Deleted!" data-confirm-yes-message="Delete the item successfully" data-confirm-yes-callback="remove(\'' + id + '\')" data-confirm-no-title="Cancelled" data-confirm-no-message="The item is safe :)" class="btn btn-sm btn-icon btn-pure btn-default on-default waves-effect waves-classic" data-toggle="tooltip" data-original-title="Remove"><i class="icon md-delete" aria-hidden="true"></i></a>}';*@

            //Toggle button
            //console.log("actionRender = ", row[2]);
            var isChecked = "";
            if (row[2] == true) {
                isChecked = "checked";
            }
            var toggleButton = '<label class="switch"> <input onclick="toggleClick(\'' + id + '\')" type="checkbox" ' + isChecked +'> <span class="slider round"></span> </label>';

            return toggleButton;
        }

        function actionRenderMinDisable(data, type, row) {
            var id = parseInt(row[0]);

            // Edit
            //var editUrl = CoinRequest.Edit.Url.replace(/PARAMETER_ID/g, id);
            //var editEle = '<a href="' + editUrl + '" class="btn btn-sm btn-icon btn-pure btn-default on-default waves-effect waves-classic" data-toggle="tooltip" data-original-title="Edit"><i class="icon md-edit" aria-hidden="true"></i></a>';

            // Remove
            @*var removeEle = '@if (delete){<a href="javascript:;" data-plugin="confirm" data-confirm-title="ARE YOU SURE?" data-confirm-message="Are you sure that you want to delete this item?" data-confirm-yes-title="Deleted!" data-confirm-yes-message="Delete the item successfully" data-confirm-yes-callback="remove(\'' + id + '\')" data-confirm-no-title="Cancelled" data-confirm-no-message="The item is safe :)" class="btn btn-sm btn-icon btn-pure btn-default on-default waves-effect waves-classic" data-toggle="tooltip" data-original-title="Remove"><i class="icon md-delete" aria-hidden="true"></i></a>}';*@

            //Toggle button
            //console.log("actionRender = ", row[2]);
            //console.log("actionRenderMinDisable = ", data, type, row);
            var id = "minDisable" + row[0];
            var button = '<input id="' + id + '" onChange="changeMinDisable(\'' + row[0] + '\', \'' + id + '\' )" value="' + row[3] +'" type="input">';

            return button;
        }

        function toggleClick(id) {
            //console.log("toggleClick = ", id);
            $.ajax({
                url: CoinRequest.Toggle.Url.replace(/PARAMETER_ID/g, id),
                type: CoinRequest.Toggle.Type,
                dataType: CoinRequest.Toggle.DataType,
                success: function () {
                    @Html.Raw($"window.Bunny.notify('Active Coin', 'Coin is activated successfully', 'success');")
                    //oTable.api().ajax.reload();
                }
            });
        }

        function changeMinDisable(id, idElement) {
            var input = document.getElementById(idElement);
            console.log("changeMinDisable = ", id, input.value);
            $.ajax({
                url: CoinRequest.ChangeMinDisable.Url.replace(/PARAMETER_ID/g, id).replace(/PARAMETER_NUMBERCHANGE/g, input.value),
                type: CoinRequest.ChangeMinDisable.Type,
                dataType: CoinRequest.ChangeMinDisable.DataType,
                success: function () {
                    @Html.Raw($"window.Bunny.notify('Time Changed', 'Time is changed successfully', 'success');")
                    //oTable.api().ajax.reload();
                }
            });
        }
    </script>
}