﻿<div id="wrapper" class="active">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a class="side-menu-item-content" href="@Url.Action("Index", "User")">User<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            @*<li><a class="side-menu-item-content" href="@Url.Action("Index", "Home")">Home<span class="sub_icon glyphicon glyphicon-link"></span></a></li>*@
            <li><a class="side-menu-item-content" href="@Url.Action("Index", "CoinManager")">Coin Notification<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a class="side-menu-item-content" href="@Url.Action("Index", "Coin")">Coin Manager<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
            <li><a class="side-menu-item-content" href="@Url.Action("Index", "SettingBinance")">Binance Setting<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
    </div>

</div>