﻿@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

*:focus {
    outline: none;
}
.login-logo {
    /*background-image: url('../Image/Login/login-logo-user.png');*/
    width: 100px;
    height: 100px;
    background-size: cover;
    
    /*margin-left: 247px;*/
}
.div-login-logo {
    /*padding-top: 3%;*/
}
.login-label {
    float: left;
    margin-left: 110px;
}
.error-login {
    color: red;
}
body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: ghostwhite;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-image: url('/images/login/bitcoin-crypto-currency.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: auto;
    /*background: #FFF;*/
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
    position: absolute;
    top: 13%;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    /*width: 300px;
    height: 400px;*/
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    /*border: none;*/
    border: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-bottom: 2px solid #16a085;
        color: #16a085;
        transition: 0.2s ease;
    }

input[type="submit"] {
    /*margin-top: 28px;*/
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

    input[type="submit"]:hover,
    input[type="submit"]:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}
.login-center {
    width: 100%;
    height: 100%;
    /* padding: 10%; */
    text-align: center;
    background-color: rgba(68, 64, 64, 0.58);
    ;
}
.login-button {
    margin-top: 4%;
    background-color: brown !important;
    height: 35px;
    margin-bottom: 7%;
}
.login-input {
    /*display: -webkit-inline-box !important;*/
    max-width: 87%;
    width: 63% !important;
    margin-left: 110px !important;
}

.login-title {
    padding-top: 5%;
    color: ghostwhite;
    font-weight: bold;
}
.right {
    position: absolute;
    top: -9%;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('../Image/Login/Image_Background.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

    .right .loginwith {
        display: block;
        margin-bottom: 40px;
        font-size: 28px;
        color: #FFF;
        text-align: center;
    }

button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

    button.social-signin:hover,
    button.social-signin:focus {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    button.social-signin:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    button.social-signin.facebook {
        background: #32508E;
    }

    button.social-signin.twitter {
        background: #55ACEE;
    }

    button.social-signin.google {
        background: #DD4B39;
    }

.title-login-form {
    height: 32px
}
@media (max-width:767px) {
    .login-center {
        display: block;
        height: auto;
    }
    #login-box {
        display: block;
        height: auto;
        width: auto;
    }
    .title-login-form {
        margin-left: -50px;
    }
    .login-input {
        margin-left: 60px !important;
        width: 80% !important;
    }
}
@media (max-width: 430px) {
    .login-input {
        width: 70% !important;
    }
}
